*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(150, 143, 143, 0.7);
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container_r {
    background-color: rgba(150, 143, 143, 0.7);
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.row_m {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col_article,
.col_aside {
    flex: 0 0 70%;
    max-width: 100%;
}

.col_aside {
    flex: 0 0 30%;
    max-width: 33, 333333%;
}

.header {
    background-color: #e0e0e0;
}

.col_article {
    background-color: #fff8e1;
}

.col_aside {
    background-color: #dcedc8;
}

.col_other_article {
    flex: 1 0 0;
    min-width: 300px;
}

.col_footer {
    flex: 1 0 0;
    min-width: 200px;
}

.title {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}