html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(150, 143, 143, 0.7);
    height: 20vh;
    text-align: center;
}

.text-1 {
    text-align: center;
    margin: 0;
    padding: 0;

}

.flex-container {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    height: 40vh;

}

.text {
    text-align: center;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}


.f_container {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: 2px red;
}

.flex_2 {
    border: 1px solid olivedrab;
    flex-grow: 1;
    align-self: flex-end;
    height: 30vh;
    background-color: rgb(236, 195, 132);
}

article {
    border: 1px solid rebeccapurple;
    flex-grow: 1;
}

aside {
    border: 1px solid peru;
    background-color: rgba(119, 231, 119, 0.6);
}

.f-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    height: 10vh;
    justify-content: space-between;
    background-color: rgba(150, 143, 143, 0.7);

}

.text_t {
    text-align: center;
    background-color: rgba(150, 143, 143, 0.7);
    margin: 0;
    padding: 0;
}

.flex {
    align-self: center;
    padding: 20px;
    margin: 10px;
    background-color: white;
}